{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Estudiante{% endblock %}

{% block content %}
<div class="container">
    <h1>Crear Estudiante</h1>
    <form method="post" enctype="multipart/form-data" class="p-4 shadow-sm border rounded bg-white">
        {% csrf_token %}

        <fieldset>
            <legend>Datos del Estudiante</legend>
            {{estudiante_form.as_p}}
        </fieldset>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}