{% extends 'base.html' %}
{% load static %}

{% block title %}Eliminar Estudiante{% endblock %}

{% block content %}
<div class="container">
    <h2>¿Estás seguro de que quieres eliminar este estudiante?</h2>
    <p>Nombre:            {{ estudiante.nombre }}?</p>
    <p>Apellido Paterno:  {{ estudiante.appat }}?</p>
    <p>Apellido Materno:  {{ estudiante.apmat }}?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
        <a href="{% url 'lista_estudiantes' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}